@import url("colors.css");

* {
    color: @fg-color;
    opacity: 1.0;
    font-family: Fira Sans, FontAwesome;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 1px 1px 2px @bg-color;
}

window#waybar {
    border: none;
    border-radius: 10px;
    background-color: rgba(40, 40, 40, 0.74);
}

button {
}

button:hover {
}

#workspaces {
}

#workspaces button {
    opacity: 0.96;
    border: solid 4px @bg-color;
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
    padding: 4px 8px 6px 6px;
    background-color: @blue-dark-color;
    box-shadow: inset 0 -4px @purple-dark-color;
}

#workspaces button:hover {
    background: @blue-dark-color;
    box-shadow: inset 0 -4px @aqua-dark-color;
}

#workspaces button.active {
    background-color: @red-dark-color;
    box-shadow: inset 0 -4px @yellow-dark-color;
}

#custom-start {
    opacity: 0.96;
    border: solid 4px @bg-color;
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
    padding: 4px 8px 4px 6px;
    background-color: @red-dark-color;
    box-shadow: inset 0 -4px @yellow-dark-color;
}

#language {
    opacity: 0.96;
    border: none;
    border-radius: 10px;
    margin: 4px 3px;
    padding: 4px 6px;
    background: @red-dark-color;
    box-shadow: inset 0 -4px @yellow-dark-color;
}

#pulseaudio {
    opacity: 0.96;
    border: none;
    border-radius: 10px;
    margin: 4px 3px;
    padding: 4px 6px;
    background: @blue-dark-color;
    box-shadow: inset 0 -4px @purple-dark-color;
}

#pulseaudio.muted {
    background: @gray-dark-color;
}

#network {
    opacity: 0.96;
    border: none;
    border-radius: 10px;
    margin: 4px 3px;
    padding: 4px 6px;
    background: @blue-dark-color;
    box-shadow: inset 0 -4px @purple-dark-color;
}

#network.disconnected {
    background: @gray-dark-color;
}

#cpu {
    opacity: 0.96;
    border: none;
    border-radius: 10px;
    margin: 4px 3px;
    padding: 4px 6px;
    background: @red-dark-color;
    box-shadow: inset 0 -4px @yellow-dark-color;
} 

#memory {
    opacity: 0.96;
    border: none;
    border-radius: 10px;
    margin: 4px 3px;
    padding: 4px 6px;
    background: @purple-dark-color;
    box-shadow: inset 0 -4px @aqua-dark-color;
}

#disk {
    opacity: 0.96;
    border: none;
    border-radius: 10px;
    margin: 4px 3px;
    padding: 4px 6px;
    background: @blue-dark-color;
    box-shadow: inset 0 -4px @purple-dark-color;
}

#temperature {
    opacity: 0.96;
    border: none;
    border-radius: 10px;
    margin: 4px 3px;
    padding: 4px 6px;
    background: @purple-dark-color;
    box-shadow: inset 0 -4px @aqua-dark-color;
}

#clock {
    opacity: 0.96;
    border: none;
    border-radius: 10px;
    margin: 4px 3px;
    padding: 4px 6px;
    background: @red-dark-color;
    box-shadow: inset 0 -4px @yellow-dark-color;
}

#tray {
    opacity: 0.96;
    border: none;
    border-radius: 10px;
    margin: 4px 3px;
    padding: 4px 6px 8px;
    background: @blue-dark-color;
    -gtk-icon-shadow: 1px 1px 2px @bg-color;
    box-shadow: inset 0 -4px @purple-dark-color;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background: #eb4d4b;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: @purple-light-color;
}
