* {
opacity: 0.96;
}
#window {
font-family: Fira Sans;
font-size: 20px;
font-weight:400;
margin: 0px;
border: none;
border-radius: 10px;
background-color: #3c3836;
}

#input {
margin: 5px;
border: none;
background-color: #282828;
color: #ebdbb2;
}

#inner-box {
margin: 5px;
border: none;
border-radius: 10px;
background-color: #282828;
}

#outer-box {
margin: 5px;
border: none;
border-radius: 10px;
background-color: #282828;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #ebdbb2;
} 

#entry {
background-color: #282828;
}

#entry:selected {
background-color: #cc241d;
}
